<div class="row">
    <div class="col-md-10">
        <input placeholder="Search for a Post" class="form-control" ng-model="searchText" />
    </div>
</div>

<div class="row">
    <div class="col-md-10">

<div ng-show="recent">
<h2>Latest Posts</h2>
 <div ng-repeat="post in posts | filter: searchText ">
   <div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ post.title }}</h2>
            <div>by {{ post.author }} on {{ post.created }}</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            {{ post.body }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <span class="label label-info"> {{ post.category }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button ng-click="deletePost(post);">Delete Post</button>
            <button ng-click="editingPost(post)">Edit Post</button>
        </div>
    </div>
    </div>
    </div>
    </div>
    <div ng-show="category">
 <h2>Posts in Category {{ selectedCategory }} </h2>
 <div ng-repeat="post in posts | filter: {category:selectedCategory} | filter: searchText ">
   <div class="jumbotron">
      <div class="row">
        <div class="col-md-12">
            <h2>{{ post.title }}</h2>
            <div>by {{ post.author }} on {{ post.created }}</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            {{ post.body }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <span style="margin-bottom: 15px;" class="label label-info"> {{ post.category }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button ng-click="deletePost(currentPost);">Delete Post</button>
            <button ng-click="editingPost(currentPost)">Edit Post</button>
        </div>
    </div>
    </div>
    </div>
    </div>
        </div>
<div class="col-md-2">
    <h3>Checkout our Categories!</h3>
    <div ng-repeat="category in categories">
        <p><a href="" ng-click="showCategory(category.label);">{{ category.label }}</a></p>
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-10">
        <div ng-show="editing">
        <h3>Edit Post</h3>
        <input placeholder="{{ post.title }}" class="form-control" ng-model="newPostTitle"/>
        <input placeholder="{{ post.author }}" class="form-control" ng-model="newPostAuthor"/>
        <textarea rows="10" cols="70" placeholder="{{ post.body }}" class="form-control" ng-model="newPostBody"/>
        <select ng-model="newPostCategory" ng-options="category as category.label for category in categories">
        </select>
        <button style="margin-top: 5px;" ng-click="editPost();">Edit</button>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h3>Create a Post</h3>
        <input placeholder="Title" class="form-control" ng-model="postTitle"/>
        <input placeholder="Author" class="form-control" ng-model="postAuthor"/>
        <textarea rows="10" cols="70" placeholder="Body" class="form-control" ng-model="postBody"/>
        <select ng-model="postCategory" ng-options="category as category.label for category in categories">
        </select>
        <button style="margin-top: 5px;" ng-click="createPost();">Create</button>
    </div>
</div>

